body{
    background-color: #ededed;
}
.div_scrip{

}
.div_scrip_title{
    display: flex;
    justify-content: center;
    font-weight: 600;
    margin-top: 5px;
}
.div_headimg{
    display: flex;
    padding-left: 20px;
    padding-top: 10px;
}
.scrip_headimg{
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 1px solid black;
}
.scrip_nickname{
    font-size: 15px;
    font-weight: 600;
    padding-top: 5px;
    padding-left: 1%;
    text-align: center;
}
.scrip_input_div{
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 5%;
    height: 100%;
    border: 2px solid black;
    border-radius: 7px;
}


.div_location{
    margin-top: 5px;
    margin-left: 12px;
    margin-bottom: 5px;
}


.div_uploader_img{
    padding-left: 10px;
    padding-top: 5px;
    display: flex;
}
.div_uploader_img_preview{
    width: 73px;
    height: 73px;
    border: 1px solid black;
    margin-right: 5px;
}
.div_vx_input{
    margin-left: 10px;
    margin-right: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.div_vx_input{
    margin-left: 10px;
    margin-right: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.div_vx_input1{
    margin-left: -5px;
    margin-right: 10px;
}

.div_scrip_life{
    display: flex;
}

.div_bt_save{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-top: 0px;
}
.div_bt_save_1{
    width: 40%;
    font-size: 12px;
    font-weight: 600;
}
.div_bt_save_2{
    width: 50%;
    font-weight: 600;
}
.div_title1{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.div_title1_text1{
    font-size: 12px;
    margin-top: 5px;
    font-weight: 600;
    color: #cfcfcf;
    margin-right: 5px;
    text-decoration:line-through;
}
.div_title1_text2{
    font-size: 17px;
    font-weight: 600;
    color: green;
    margin-left: 5px;
}
.div_confirm{
    font-weight: 600;
}

.div_buy_1{
    display: flex;
    justify-content: space-around;
    width: 88%;
    margin-left: 6%;
    margin-top: 3%;
}
.div_buy_2{
    width: 30%;
    height: 140px;
    border: 2px solid black;
    border-radius: 6px;
}
.rose_name{
    font-size: 15px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-top: 15%;
}
.rose_buy{
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-top: 15%;
}
.rose_buy_bt{
    width: 50px;
    margin-top: 15px;
    font-weight: 600;
    margin-right: 10px;
}
.rose_price{
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-top: 15%;
    color: #e83a3a;
}
.rose_div{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

.rose_img{
    width: 40px;
    height: 40px;
}
.rose_img1{
    width: 30px;
    height: 30px;
}

.rose_text{
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.rose_sign{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 84%;
    margin-left: 8%;
    margin-top: 4%;
    border-radius: 7px;
}
.signin_text{
    font-size: 15px;
    font-weight: 600;
    margin-top: 5px;
    margin-left: 10px;
}
.signin_div_btn{
    padding-right: 20px;
}
.signin_btn{
    width: 50px;
    font-size: 12px;
    margin-top: 5px;
    font-weight: 600;
    margin-right: 10px;
}
.div_2{
    display: flex;
    justify-content: space-evenly;
    padding-top: 13px;
}
.div_2_box{
    background: white;
    padding: 10px;
    border-radius: 10px;
    width: 41%;
    display: flex;
    justify-content: space-around;
}
.div_2_icon{
    width: 30px;
    height: 30px;
}
.div_2_text{
    font-weight: 600;
    margin-left: 5px;
    margin-top: 5px;
}
.div_2_tex1{
    font-weight: 600;
    margin-top: 6px;
}

.div_0{
    width: 100%;
    display: flex;
    justify-content: center;
}
.banner_img{
    width: 96%;
    height: 160px;
    border-radius: 10px;
}

.notice{
    position: absolute;
    top: 150px;
}
.notice_div{
    text-align: center;
    background: white;
    border:1.5px solid black;
    border-radius: 30px;
    padding: 5px 15px;
    animation: an_1 1.1s infinite;
    font-size: 14px;
    font-weight: 600;
}

@keyframes an_1 {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);

    }
    100%{
        transform: scale(1);
    }
}


.img{
    width: 80%;margin-top: 48px;margin-left: 10%
}
.div_1{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.div_box_1{
    width: 50%;
    height: 300px;
    margin-left: 10px;
    margin-right: 1%;
    background-image: url("https://rbt-1302363069.cos.ap-shanghai.myqcloud.com/yuelao/318789850286028423.jpg");
    background-size: 100% 300px;
    border-radius: 10px;
}
.div_box_0{
    width: 50%;
    height: 300px;
    margin-left: 1%;
    margin-right: 10px;
    background-image: url("https://rbt-1302363069.cos.ap-shanghai.myqcloud.com/yuelao/637797075837011665.jpg");
    background-size: 100% 300px;
    border-radius: 10px;
}
.out{
    color: #ea6969;
}
.in{
    color: #8080f2;
}
.div_btn{
    border-radius: 7px;
    font-size: 12px;
    height: 40px;
    font-weight: 600;
}
.div_btn1{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.div_square{
    width: 94%;
    margin-left: 3%;
    margin-top: 3%;
    background-color: white;
    border-radius: 6px;
}
.div_city{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.div_city_sex{
    color: deeppink;
    font-size: 14px;
}
.div_city_sex1{
    color: #3c82ee;
    font-size: 14px;
}
.div_city_city{
    margin-left: 5px;
    font-size: 14px;
}
.div_intro{
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 30px;
}
.div_intro_span{
    font-size: 14px;
}
.div_picture{
    padding-left: 8px;
    padding-bottom: 5px;
}
.div_picture_img{
    width: 80px;height: 80px;
    padding-top: 10px;
    padding-left: 2px;
}
.div_square_time{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.square_time{
    font-size: 12px;
    margin-top: 6px;
    color: #b1b1b1;
}
.square_bt_bt{
    width: 40px;
    font-weight: 600;
}















